@model ErrorViewModel
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostEnv
@{
	ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">При обработке запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
	<p>
		<strong>Идентификатор запроса:</strong> <code>@Model.RequestId</code>
	</p>
}

@if (HostEnv.EnvironmentName == "Development")
{
	<h3>Режим разработки</h3>
	<p>
		Переключение в среду <strong>Development</strong> отображает подробную информацию об ошибке.
	</p>
	<p>
		<strong>Среда Development не должна быть включена в развёрнутых приложениях.</strong>
		Это может привести к отображению конфиденциальной информации из исключений конечным пользователям.
		Для локальной отладки установите переменную окружения <strong>ASPNETCORE_ENVIRONMENT</strong> в значение <strong>Development</strong>
		и перезапустите приложение.
	</p>
}
